@use "../assets/variables" as var;

.archive {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    .archiveHeader {
        position: absolute;
        width: 100%;
        height: 65vh;
        background-image: url("../assets/images/Vector_2.svg");
        background-repeat: no-repeat;
        background-size: cover;
        @media screen and (max-width:1400px) {
            position: initial;
            background-image: none;
            background-color: var.$secondary-bg;
            height: 27vmax;
            padding: 0 20px;
        }
        .archiveImage {
            position: absolute;
            top: 20%;
            right:10%;
            width: 20%;
            @media screen and (max-width:1400px) {
                top: 10%;
                width: 15%;
            }
            @media screen and (max-width:570px) {
                display: none;
            }
        }
        h1 {
            margin: 1em;
            font-family: 'Medula One', cursive;
            font-size: clamp(1rem, 3.5vw, 5rem);
            font-weight: 400;
            text-align: center;
            color: white;
            @media screen and (max-width:1049px) {
                margin-top: 1.5em;
            }
        }
        .buttonWrapper {
            display: flex;
            justify-content: center;
        }
    }
    .outerPanelWrapper {
        margin-top: 58vmin;
        @media screen and (max-width:1400px) {
            margin-top: 1em;
        }
        .panelWrapper {
            position: relative;
            display: flex;
            gap: 1em;
            margin-top: 0.3em;
            padding: 0.5em 1.5em;
            background-color: var.$secondary-bg;
            color: white;
            border-radius: 10px;
            @media screen and (max-width:900px) {
                font-size: clamp(0.7em, 1.3vh, 1.3em);
            }
            @media screen and (max-width:570px) {
                flex-direction: column;
                padding: 0.5em 1em;
            }
            .macrosWrapper {
                display: flex;
                gap: 5px;
            }
            .dateWrapper {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 20%;
                .grams {
                    width: 45%;
                    padding: 0.2em 1em;
                    background-color: #474654;
                    text-align: center;
                    border-radius: 99vh;
                }
            }
            .close {
                position: absolute;
                inset: 5px 5px auto auto;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                background-color: var.$button-exit;
                font-size: 0.7rem;
                border-radius: 50%;
                cursor: pointer;
             }
             .close:hover {
                outline: 2px solid white;
             }
        }
    }
}