@use "../assets/variables" as var;

.balance {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   .headerContainer {
      width: 50%;
      margin: 5em 0 0 2em;
      > img {
         position: absolute;
         top: 45vh;
         left: 22%;
         width: 200px;
      }
      h1 {
         text-align: center;
         font-family: 'Medula One', cursive;
         font-size: clamp(3.5rem, 4vw, 5.5rem);
         font-weight: 400;
         color: var.$font-light;
      }
      .buttonWrapper {
         display: flex;
         justify-content: center;
         gap: 2em;
         padding: 2em 0;
         button:last-of-type{
            img {
               position: absolute;
               top: -100%;
               right: -20%;
               width: 60%;
               pointer-events: none;
            }
         }
      }
   }
   @media screen and (max-width:1700px) {
      .headerContainer {
         margin-top: 2em;
   }}
   .vector1 {
      position: absolute;
      top: 0;
      width: 100%;
      height: 65vh;
      z-index: -1;
   }
   .infoCircle {
      position: absolute;
      top: -40%;
      right: -8%;
      width: 40vw;
      min-width: 600px;
      max-width: 700px;
      aspect-ratio: 1;
      background-image: url(../assets/images/infoCircle.svg);
      background-repeat: no-repeat;
      background-size: cover;
   }
}

h2.consumption {
   margin-top: 60vmin;
   font-size: clamp(1.3rem, 3vw, 3.5rem);
   color: var.$panel-bg-primary;
   text-align: center;
}

@media screen and (max-width:1700px) {
   h2.consumption {
      margin-top: 30vh;
   }
}
