@use "../assets/variables" as var;

.balance {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 10;
   @media screen and (max-width:1300px) {
      position: fixed;
      background-color: var.$secondary-bg;
   }
   @media screen and (max-width:1049px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .mainWrapper {
      @media screen and (max-width:1300px) {
         display: flex;
         justify-content: space-between;
      }
      @media screen and (max-width:1049px) {
         flex-direction: column;
         align-items: center;
      }
      .headerContainer {
         width: 50%;
         margin: 5em 0 0 2em;
         @media screen and (max-width:1300px) {
            margin-top: 2em;
         }
         @media screen and (max-width:1049px) {
            width: 100%;
            margin: 5em 0 0 0;
         }
         > img {
            position: absolute;
            top: 45vh;
            left: 22%;
            width: 200px;
            @media screen and (max-width:1300px) {
               display: none;
            }
         }
         h1 {
            text-align: center;
            font-family: 'Medula One', cursive;
            font-size: clamp(3.5rem, 4vw, 5.5rem);
            font-weight: 400;
            color: var.$font-light;
         }
         .buttonWrapper {
            display: flex;
            justify-content: center;
            gap: 2em;
            padding: 2em 0;
            button:last-of-type{
               img {
                  position: absolute;
                  top: -100%;
                  right: -20%;
                  width: 60%;
                  pointer-events: none;
               }
            }
         }
      }
   }
   .vector1 {
      position: absolute;
      top: 0;
      width: 100%;
      height: 65vh;
      z-index: -1;
      @media screen and (max-width:1300px) {
         display: none;
      }
   }
   .infoCircle {
      position: absolute;
      top: -40%;
      right: -8%;
      width: 40vw;
      min-width: 600px;
      max-width: 700px;
      aspect-ratio: 1;
      background-image: url(../assets/images/infoCircle.svg);
      background-repeat: no-repeat;
      background-size: cover;
      @media screen and (max-width:1300px) {
         display: none;
      }
   }
   .macroWrapper {
      display: none;
      margin-right: 5em;
      @media screen and (max-width:1300px) {
         display: flex;
         align-items: flex-end;
         padding-bottom: 2em;
      }
      @media screen and (max-width:1049px) {
         align-items: center;
         justify-content: center;
         margin-right: 0;
      }
   }
}

h2.consumption {
   margin-top: 65vmin;
   font-size: clamp(1.3rem, 3vw, 3.5rem);
   color: var.$panel-bg-primary;
   text-align: center;
   @media screen and (max-width:1300px) {
      margin-top: 20rem;
   }
   @media screen and (max-width:1049px) {
      margin-top: 23rem;
   }
}

.consumptionOuterWrapper {
   padding-bottom: 3rem;
}

