@use "../assets/variables" as var;

.balance {
   position: relative;
   .headerContainer {
      width: 50%;
      margin: 5em 0 0 2em;
      > img {
         position: absolute;
         top: 45vh;
         left: 22%;
         width: 200px;
      }
      h1 {
         text-align: center;
         font-family: 'Medula One', cursive;
         font-size: clamp(3.5rem, 4vw, 5.5rem);
         font-weight: 400;
         color: var.$font-light;
      }
      .buttonWrapper {
         display: flex;
         justify-content: center;
         gap: 2em;
         padding: 2em 0;
         button:last-of-type{
            img {
               position: absolute;
               top: -100%;
               right: -20%;
               width: 60%;
               pointer-events: none;
            }
         }
      }
   }
   @media screen and (max-width:1700px) {
      .headerContainer {
         margin-top: 2em;
   }}
   .vector1 {
      position: absolute;
      top: 0;
      width: 100%;
      height: 65vh;
      z-index: -1;
   }
   .infoCircle {
      position: absolute;
      top: -40%;
      right: -8%;
      width: 40vw;
      min-width: 600px;
      max-width: 700px;
      aspect-ratio: 1;
      background-image: url(../assets/images/infoCircle.svg);
      background-repeat: no-repeat;
      background-size: cover;
      .carbsWrapper, .fatWrapper, .proteinWrapper, .saturatedFatWrapper, .sugarWrapper, .saltWrapper {
         position: absolute;
         width: 80px;
         height: 80px;
         aspect-ratio: 1;
         .textWrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
         }
         .cupWrapper {
            height: 56%;
            background-image: url(../assets/images/cup-left.svg);
            background-repeat: no-repeat;
            background-size: cover;
            color: var.$font-light;
            .textWrapper {
               display: flex;
               justify-content: center;
               align-items: center;
               width: 80%;
               height: 100%;
               font-size: 0.8rem;
            }
         }
      }
      .caloriesWrapper {
         position: absolute;
         width: 110px;
         height: 110px;
         aspect-ratio: 1;
         .textWrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
         }
         .cupWrapper {
            height: 53%;
            background-image: url(../assets/images/bowl.svg);
            background-repeat: no-repeat;
            background-size: cover;
            color: var.$font-light;
            .textWrapper {
               display: flex;
               justify-content: center;
               align-items: center;
               width: 100%;
               height: 100%;
               font-size: 0.8rem;
            }
         }
      }
      .carbsWrapper {
         top: 35%;
         left: 10%;
      }
      .fatWrapper {
         top: 55%;
         left: 10%;
      }
      .proteinWrapper {
         top: 72%;
         left: 25%;
      }
      .saturatedFatWrapper {
         top: 30%;
         left: 55%;
      }
      .sugarWrapper {
         top: 55%;
         left: 65%;
      }
      .saltWrapper {
         top: 75%;
         left: 50%;
      }
      .caloriesWrapper {
         top: 50%;
         left: 34%
      }
   }
}

h2.consumption {
   margin-top: 15vh;
   font-size: clamp(1.3rem, 3vw, 3.5rem);
   color: var.$panel-bg-primary;
   text-align: center;
}

@media screen and (max-width:1700px) {
   h2.consumption {
      margin-top: 30vh;
   }
}

.panelWrapper {
   display: flex;
   justify-content: center;
   margin-top: 2em;
   .panel {
      display: flex;
      padding: 1em 1.5em;
      background-color: var.$panel-bg-primary;
      color: var.$font-light;
      border-radius: 15px;
      .nameWrapper {
         display: flex;
         flex-direction: column;
         justify-content: center;
         gap: 10px;
         width: 12em;
         p {
            width: 30%;
            padding: 0.2em 1em;
            background-color: #474654;
            text-align: center;
            border-radius: 99vh;
         }
      }
      .macrosWrapper {
         display: flex;
      }
      .close {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 20px;
         height: 20px;
         background-color: var.$button-exit;
         font-size: 0.7rem;
         border-radius: 50%;
         cursor: pointer;
      }
      .close:hover {
         outline: 2px solid white;
      }
   }
}
