@use "../assets/variables" as var;

.products {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100vw;
   max-width: 100%;
   padding-bottom: 2em;
   .inputWrapper {
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 1800px;
      height: 65vmin;
      min-height: 550px;
      background-image: url("../assets/images/halfCircle.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-position-y: -100px;
      color: var.$font-light;
      z-index: 10;
      @media screen and (max-width:1500px) {
         position: initial;
         background-color: var.$secondary-bg;
         height: 20rem;
         min-height: 410px;
      }
      @media screen and (max-width:870px) {
         position: initial;
      }
      @media screen and (max-width:500px) {
         min-height: 470px;
      }
      .navWrapper {
         width: 100%;
         padding-left: 15%;
         @media screen and (max-width:1500px) {
            padding-left: 0;
         }
      }
      .banana {
         position: absolute;
         top:15%;
         right: 10%;
         @media screen and (max-width:1500px) {
            top: 18%;
            width: 200px;
         }
         @media screen and (max-width:1070px) {
            width: 120px;
            top: 23%;
         }
         @media screen and (max-width:870px) {
            display: none;
         }
      }
      .addButtonWrapper {
         display: flex;
         justify-content: center;
         width: 50%;
         margin-top: 1.5vh;
         button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2em;
            width: 2em;
            background: rgb(253,137,32);
            border: 2px solid white;
            font-size: 1.5rem;
         }
         button:hover {
            background-color: var.$primary-bg;
         }
      }
   }
   .outerPanelWrapper {
      margin-top: min(35vmax, 600px);
      @media screen and (max-width:1500px) {
         margin-top: 1em;
      }
      @media screen and (max-width:870px) {
         margin-top: 1em;
      }
      .productPanelWrapper {
         position: relative;
         display: flex;
         gap: 1em;
         margin-top: 0.5em;
         padding: 0.5em 1.5em;
         background-color: var.$secondary-bg;
         color: white;
         border-radius: 10px;
         @media screen and (max-width:1200px) {
            font-size: 0.8rem;
         }
         @media screen and (max-width:800px) {
            flex-direction: column;
         }
         .imageWrapper {
            display: flex;
            gap: 10px;
            width: 15em;
            .image {
               position: relative;
               display: flex;
               justify-content: center;
               align-items: center;
               width: 3.5rem;
               height: 3.5rem;
               aspect-ratio: 1;
               background-color: #474654;
               border-radius: 5px;
               .image_small {
                  display: block;
                  width: 100%;
                  height: 100%;
                  border-radius: 5px;
               }
               input {
                  opacity: 0; 
                  position: absolute; 
                  top: 0; 
                  left: 0; 
                  bottom: 0; 
                  right: 0; 
                  width: 100%; 
                  height:100%;
                  cursor: pointer;
               }
            }
            .title {
               position: relative;
               font-size: 0.8rem;
               .image_large {
                  position: absolute;
                  top: -100px;
                  left: 0;
                  transform: scale(0);
                  width: 200px;
                  height: 200px;
                  border-radius: 5px;
                  z-index: 20;
               }
            }
            .title:hover .image_large {
               transform: scale(1);
               transition: 1s ease;
            }
         }
         .nutrientWrapper {
            display: flex;
            @media screen and (max-width:590px) {
               flex-direction: column;
               gap: 10px;
            }
            .topNutrientWrapper {
               display: flex;
               gap: 5px;
            }
            .bottomNutrientWrapper {
               display: flex;
               gap: 5px;
               .gramsWrapper {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  gap: 10px;
                  width: 5em;
                  input {
                     width: 2.7em;
                     padding: 0.4em 0.5em;
                     background-color: var.$primary-bg;
                     color: white;
                     text-align: center;
                     border-radius: 99vh;
                     border: none;
                     outline: none;
                  }
                  input:focus {
                     outline: 3px solid #474654;
                  }
               }
            }
         }
         .close {
            position: absolute;
            inset: 5px 5px auto auto;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            background-color: var.$button-exit;
            font-size: 0.7rem;
            border-radius: 50%;
            cursor: pointer;
         }
         .close:hover {
            outline: 2px solid white;
         }
      }
   }
}