@use "../assets/variables" as var;

.products {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100vw;
   .inputWrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 1800px;
      height: 61vh;
      background-image: url("../assets/images/halfCircle.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position-y: -100px;
      color: var.$font-light;
      .panelWrapper {
         display: flex;
         flex-direction: column;
         align-items: center;
         margin-top: 2em;
         width: 70%;
         border-radius: 15px;
         h1 {
            font-family: 'Medula One', cursive;
            font-size: clamp(1rem, 3vw, 5rem);
            font-weight: 400;
            width: 60%;
         }
         .panel {
            display: flex;
            padding: 0.5em 1.5em;
            color: var.$font-light;
            border-radius: 15px;
            width: 60%;
            input:focus {
               outline: 3px solid var.$primary-bg;
            }
            .nameWrapper {
               display: flex;
               flex-direction: column;
               justify-content: center;
               gap: 10px;
               width: 12em;
               input {
                  width: 70%;
                  padding: 0.5em 1em;
                  background-color: #474654;
                  color: white;
                  text-align: center;
                  border-radius: 99vh;
                  border: none;
               }
            }
            .macrosWrapper {
               display: flex;
               .singleMacroWrapper {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  gap: 10px;
                  width: 5em;
                  input {
                     width: 50%;
                     padding: 0.5em 1em;
                     background-color: #474654;
                     color: white;
                     text-align: center;
                     border: none;
                     border-radius: 99vh;
                  }
               }
            }
         }
         .buttonWrapper {
            display: flex;
            justify-content: center;
            gap: 1.5em;
            margin-top: 4em;
         }
      }
      .banana {
         position: absolute;
         top:15%;
         right: 10%;
      }
   }
   .productPanelWrapper {
      position: relative;
      display: flex;
      gap: 1em;
      margin-top: 2em;
      padding: 0.5em 1.5em;
      background-color: var.$secondary-bg;
      color: white;
      border-radius: 10px;
      .imageWrapper {
         display: flex;
         gap: 10px;
         width: 70%;
         .image {
            width: 20%;
            aspect-ratio: 1;
            background-color: #474654;
            border-radius: 5px;
         }
      }
      .gramsWrapper {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         gap: 10px;
         width: 5em;
         input {
            width: 2.7em;
            padding: 0.4em 0.5em;
            background-color: var.$primary-bg;
            color: white;
            text-align: center;
            border-radius: 99vh;
            border: none;
            outline: none;
         }
         input:focus {
            outline: 3px solid #474654;
         }
      }
      .close {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 40px;
         height: 20px;
         background-color: var.$button-exit;
         font-size: 0.7rem;
         border-radius: 50%;
         cursor: pointer;
      }
      .close:hover {
         outline: 2px solid white;
      }
      .addButtonWrapper {
         position: absolute;
         top: -100%;
         right: 0;
         display: flex;
         justify-content: flex-end;
         width: 50%;
         padding: 1em 0;
         button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2em;
            width: 2em;
            background-color: var.$panel-bg-primary;
            font-size: 1.5rem;
         }
         button:hover {
            background-color: #474654;
            outline: 3px solid white;
         }
      }
   }
}