.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  cursor: pointer;

  img {
    width: 50px;
  }

  .text {
    font-size: 1.25rem;
  }

  &.small {
    img {
      width: 30px;
    }
    .text {
      font-size: 1rem;
    }
  }

  &.large {
    .text {
      font-size: 1.75rem;
    }
  }
}