@use "../../assets/variables" as var;

.valueWrapper {
    display: flex;
    justify-content: center;
    width: 75%;
    padding: 0.3em 0;
    font-size: clamp(0.8rem, 1.8vw, 1.5rem);
    p {
      width: 250px;
       @media screen and (max-width: 1000px) {
         width: 150px;
      }
    }
    .inputWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5em;
      p {
         width: 4em;
         font-size: 0.8rem;
         color: var.$primary-bg;
         text-align: right;
         @media screen and (max-width: 1000px) {
            width: 2em;
         }
      }
      input {
          width: 20%;
          padding: 0.5em 1em;
          background-color: #474654;
          color: white;
          text-align: center;
          border: none;
          border-radius: 99vh;
          outline: none;
          @media screen and (max-width: 700px) {
            width: 10%;
          }
       }
       input:focus {
          background-color: var.$primary-bg;
       }
    }
}