@use "../../assets/variables" as var;

.valueWrapper {
    display: flex;
    justify-content: space-between;
    width: 30%;
    min-width: 500px;
    padding: 0.3em 0;
    font-size: 1.5rem;
    .inputWrapper {
      display: flex;
      align-items: center;
      gap: 0.5em;
      p {
         width: 4em;
         font-size: 0.8rem;
         color: var.$primary-bg;
         text-align: right;
      }
      input {
          width: 20%;
          padding: 0.5em 1em;
          background-color: #474654;
          color: white;
          text-align: center;
          border: none;
          border-radius: 99vh;
          outline: none;
       }
       input:focus {
          background-color: var.$primary-bg;
       }
    }
}