$primary-bg: #639E61;
$secondary-bg: #2A293B;

$panel-bg-primary: #2A293B;
$panel-bg-secondary-1: #474654;
$panel-bg-secondary-2: #383745;

$font-light: #FFFFFF;
$font-dark: #2A293B;

$button-primary-1: #FD8920;
$button-primary-2: #639E61;
$button-exit: #F32020;

$accent-color: #FD8920;
