.features {
  padding: 5rem 2rem;
  background: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: repeat(2, 500px);
  gap: 2rem;
  @media (max-width: 768px) {
    grid-template-rows: repeat(4, 400px);
  }
}