@use "../../assets/variables" as var;

nav {
   width: 100%;
   font-size: 2rem;
   overflow-x: hidden;
   .desktopMenu {
      display: flex;
      justify-content: space-between;
      width: 50%;
      padding: 1em 0 0 1em;
      @media screen and (max-width: 1049px) {
         display: none;
      }
      li {
         margin: 0 1em;
         color: var.$font-light;
         list-style-type: none;
         a {
            position: relative;
            text-decoration: none;
            color: var.$font-light;
         }
         a:hover {
            color: var.$button-primary-1;
         }
         a:not(.cogwheel)::before {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: var.$button-primary-1;
            transform: scaleX(0);
            transition: transform 0.3s ease;
         }

         a:hover::before {
            transform: scaleX(1);
         }
         .cog {
            cursor: pointer;
            transition: 1s ease;
         }
         .cog:hover {
            transform: scale(0.7);
         }
      }
   }
}
