@use "assets/variables" as var;

:root {
   box-sizing: border-box;
   scroll-behavior: smooth;
}

* {
   margin: 0;
   padding: 0;
}

body {
   background-color: var.$primary-bg;
   font-family: 'Merriweather Sans', sans-serif;
   overflow-x: hidden;
}